* {
    margin: 0;
    box-sizing: border-box;         /*Quita los bordes de la hoja*/
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #D9E4FF;
}

header {
    background-color: #8892F2;
    height: 80px;
    width: 100%;
    top: 0;
    left: 0;
}

nav {
    display: flex;
    justify-content: space-between;       /*Espaciado a la izquierda para el logo */
    max-width: 992px;   /*tamaño maximo permitido de la expansion*/
    margin: 0 auto;     /*centrado del contenido de la navbar*/
}

nav ul li a {
    text-decoration: none;
    color: black;
    padding: 8px 12px;
    border-radius: 10px;
}

nav img {
    height: 80px;
    width: auto;
    padding: 0 10px;
    line-height: 80px;
}

nav ul {
    display: flex;
    margin-right: 20px;
    list-style: none;
}

nav ul li {
    font-size: 18px;
    margin: 0 10px;
    line-height: 80px;    /*Sirve para centrar el alto de las letras con la navbar*/
    text-transform: uppercase;    /*Pone todas las letras en mayuscula*/
    width: max-content;
}

nav ul li a:hover {
    background-color: #6F7BEC;
    transition: 0.5s;      /*Retardo en el que se muestra que seleccionamos ese item*/
}

.icono-hambur {
    color: black;
    background: none;
    border: none;
    font-size: 30px;
    padding: 0 20px;
    line-height: 60px;
    
    display: none;
}

.imgCargando {
    display: flex;
    justify-content: center;
    margin-top: 200px;
}

.imgCargando img {
    width: 25%;
}

/*diseño dispositivos*/
@media (max-width: 768px) {
    header {
        height: 60px;
    }
    
    nav img {
        height: 60px;
        width: auto;
        padding: 0 10px;
        line-height: 60px;
    }
    
    .nav-menu {
        flex-direction: column;   /*Para direccionar los items*/
        align-items: center;
        margin-right: 0px;
        background-color: #5C6084;
        position: fixed;
        top: 60px;
        width: 100%;
        padding: 20px 0;
        height: calc(100% - 60px);
        overflow-y: auto;
        
        left: 100%;
        transition: left 0.5s;

    }
    
    nav ul li {
        line-height: 70px;
        
    }
    
    nav ul li a:hover {
        background: none;
        color: #5362EE;
    }

    .icono-hambur {
        display: block;
    }

    .nav-menu_visible{
        left: 0%;
    }
}